.main-container {
  margin-bottom: 0;
}
.follow-us {
  height: 650px;
}
.follow-us h2 {
  font-size: 24px;
  color: #333;
}
.contact-us h1 {
  font-size: 24px;
  color: #165b8a;
}
.social_link {
  display: inline-block;
  width: 251px;
  height: 44px;
  overflow: hidden;
  margin-bottom: 10px;
}
.social_link > span {
  display: none;
}
#sl_btn_fb {
  background: transparent
    url(https://florzye.github.io/legacy/static/ad44370a650793d9/go/img/contactus/btn_fb_l.png)
    no-repeat 0 0;
}
#sl_btn_tw {
  background: transparent
    url(https://florzye.github.io/legacy/static/ad44370a650793d9/go/img/contactus/btn_tw_l.png)
    no-repeat 0 0;
}
#sl_btn_in {
  background: transparent
    url(https://florzye.github.io/legacy/static/ad44370a650793d9/go/img/contactus/btn_in_l.png)
    no-repeat 0 0;
}
#sl_btn_gg {
  background: transparent
    url(https://florzye.github.io/legacy/static/ad44370a650793d9/go/img/contactus/btn_gg_l.png)
    no-repeat 0 0;
}
#sl_btn_yt {
  background: transparent
    url(https://florzye.github.io/legacy/static/ad44370a650793d9/go/img/contactus/btn_yt_l.png)
    no-repeat 0 0;
}
#sl_btn_pt {
  background: transparent
    url(https://florzye.github.io/legacy/static/ad44370a650793d9/go/img/contactus/btn_pt_l.png)
    no-repeat 0 0;
}
#sl_btn_rss {
  background: transparent
    url(https://florzye.github.io/legacy/static/ad44370a650793d9/go/img/contactus/btn_rss_l.png)
    no-repeat 0 0;
}
#sl_btn_rss_school {
  background: transparent
    url(https://florzye.github.io/legacy/static/ad44370a650793d9/go/img/contactus/btn_rss_l_school.png)
    no-repeat 0 0;
}
#sl_btn_fb:hover,
#sl_btn_tw:hover,
#sl_btn_in:hover,
#sl_btn_gg:hover,
#sl_btn_yt:hover,
#sl_btn_pt:hover,
#sl_btn_rss:hover,
#sl_btn_rss_school:hover {
  background-position: 0 -44px;
}
#contact_items_wrapper {
  position: relative;
  margin-top: 15px;
}
.contact_item {
  float: left;
  height: 100px;
  width: 100%;
  padding: 20px 32px 5px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 17px;
  text-align: center;
}
.contact-group {
  font-size: 18px;
  color: #999;
  margin-bottom: 5px;
}
.contact-email {
  font-size: 13px;
  font-weight: normal;
}
#biz-top {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 10px;
  position: relative;
}
#biz-top h1 {
  color: #333;
  margin: 0;
  font-size: 24px;
  line-height: normal;
}
#biz-top h1 a {
  color: #333;
}
#biz-menu {
  position: absolute;
  bottom: 10px;
  right: 0;
}