.modal-body button.close{margin-top:-2px}.popup-header{padding-top:45px;text-align:center}.popup-header .h3{padding-bottom:20px}.popup-header .h5{padding-bottom:60px}.popup-content{text-align:center}.popup-content-block{padding-bottom:30px}.popup-footer{text-align:center}.k12-popup-img{margin-bottom:15px}
/*
     FILE ARCHIVED ON 22:59:49 Jan 06, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:53:13 Nov 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 264.767
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.063
  cdx.remote: 0.061
  esindex: 0.009
  LoadShardBlock: 240.789 (3)
  PetaboxLoader3.resolve: 202.745 (5)
  PetaboxLoader3.datanode: 83.88 (5)
  load_resource: 133.357 (2)
*/