.usage-guidelines{background-color:#fff}.usage-guidelines p,.usage-guidelines ul{line-height:1.6;font-size:15px;color:#666}.usage-guidelines h1{margin:0;padding:30px 0;font-size:24px;text-align:center}.usage-guidelines h2{margin:0;padding-top:20px;font-size:18px;color:#fd801e}.usage-guidelines p{margin:20px auto}.usage-guidelines hr{margin:30px auto 20px}.usage-guidelines .main-container{width:960px;margin-bottom:70px}.usage-guidelines .no-bullet{list-style-type:none}
/*
     FILE ARCHIVED ON 00:57:59 Jan 04, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:53:46 Nov 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 63.966
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.067
  cdx.remote: 0.058
  esindex: 0.009
  LoadShardBlock: 33.168 (3)
  PetaboxLoader3.datanode: 56.193 (4)
  load_resource: 67.652
  PetaboxLoader3.resolve: 41.108
*/